body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header, footer {
  border: 1px solid #333;
  background: #111;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 1px #000;
  background-image: -webkit-linear-gradient( #3c3c3c,#111 );
  background-image: linear-gradient( #3c3c3c,#111 );
}

header h1 {
  min-height: 1.1em;
  text-align: center;
  font-size: 16px;
  display: block;
  margin: .6em 30% .8em;
  padding: 0;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  text-align: left;
  border-width: 0;
  border-top-width: 1px
  border-bottom-width: 1px
  border-color: rgb(204, 204, 204);
  background-image: -webkit-linear-gradient( #fff,#f1f1f1 );
  background-image: linear-gradient( #fff,#f1f1f1 );
  padding: 0.5em;
}

li a {
  display: block;
  text-decoration: none;
}

ul ul li b {
  bottom: 0;
}
